In [1]:
import datetime
begin = '2018-02-15'
end = '2018-04-23'

dt_start = datetime.datetime.strptime(begin, '%Y-%m-%d')
dt_end = datetime.datetime.strptime(end, '%Y-%m-%d')
one_day = datetime.timedelta(1)
start_dates = [dt_start]
end_dates = []
today = dt_start
while today <= dt_end:
    #print(today)
    tomorrow = today + one_day
    if tomorrow.month != today.month:
        start_dates.append(tomorrow)
        end_dates.append(today)
    today = tomorrow

end_dates.append(dt_end)


out_fmt = '%d %B %Y'
for start, end in zip(start_dates,end_dates):
    print('{} to {}'.format(start.strftime(out_fmt), end.strftime(out_fmt)))

15 February 2018 to 28 February 2018
01 March 2018 to 31 March 2018
01 April 2018 to 23 April 2018

In [2]:
import datetime

# borrowed from https://stackoverflow.com/a/13565185
# as noted there, the calendar module has a function of its own
def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)  # this will never fail
    return next_month - datetime.timedelta(days=next_month.day)

begin = "2018-02-15"
end = "2018-04-23"

def monthlist(begin,end):
    begin = datetime.datetime.strptime(begin, "%Y-%m-%d")
    end = datetime.datetime.strptime(end, "%Y-%m-%d")

    result = []
    while True:
        if begin.month == 12:
            next_month = begin.replace(year=begin.year+1,month=1, day=1)
        else:
            next_month = begin.replace(month=begin.month+1, day=1)
        if next_month > end:
            break
        result.append ([begin.strftime("%Y-%m-%d"),last_day_of_month(begin).strftime("%Y-%m-%d")])
        begin = next_month
    result.append ([begin.strftime("%Y-%m-%d"),end.strftime("%Y-%m-%d")])
    return result


date_list = monthlist(begin,end)
print (date_list)

[['2018-02-15', '2018-02-28'], ['2018-03-01', '2018-03-31'], ['2018-04-01', '2018-04-23']]

In [2]:
import pandas as pd
import datetime
dth = pd.date_range('2018-01-01', periods=3, freq='H')
dtw = pd.date_range('2018-01-01', periods=3, freq='W')
dtm = pd.date_range('2018-01-01', periods=3, freq='M')
dtm

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31'], dtype='datetime64[ns]', freq='M')

In [3]:
dtw

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21'], dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
import pandas as pd
import datetime

In [11]:
s = pd.Series([1, 2, 3, 4],
              index=["seoul", "a", "b", "c"])
s

seoul    1
a        2
b        3
c        4
dtype: int64

In [13]:
s.index

Index(['seoul', 'a', 'b', 'c'], dtype='object')

In [14]:
s = pd.Series([10, 20, 30, 40],
              index=["seoul", "a", "b", "c"])
s/100

seoul    0.1
a        0.2
b        0.3
c        0.4
dtype: float64

In [16]:
s[1], s["b"]

(20, 30)

In [12]:
pd.Series(range(1, 5))

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
s1 = pd.Series({"a": 10, "b": 20, "c": 30, "d": 40},
               index=["b", "c", "a", "d"])
s2 = pd.Series({"a": 100, "b": 200, "c": 300, "d": 400},
               index=["b", "c", "a", "d"])
ds = s2 - s1
ds

b    180
c    270
a     90
d    360
dtype: int64

In [8]:
idx = pd.date_range('2018-01-01', periods=10, freq='H') 
idx

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [9]:
ts = pd.Series(range(len(idx)), index=idx)
ts

2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
2018-01-01 05:00:00    5
2018-01-01 06:00:00    6
2018-01-01 07:00:00    7
2018-01-01 08:00:00    8
2018-01-01 09:00:00    9
Freq: H, dtype: int64

In [7]:
idx = pd.date_range('2018-01-01', periods=10, freq='H')
ts = pd.Series(range(len(idx)), index=idx)
ts.resample('2H').mean()

2018-01-01 00:00:00    0.5
2018-01-01 02:00:00    2.5
2018-01-01 04:00:00    4.5
2018-01-01 06:00:00    6.5
2018-01-01 08:00:00    8.5
Freq: 2H, dtype: float64

In [3]:
idx = pd.date_range('2018-01-01', periods=5, freq='W')
ts = pd.Series(range(len(idx)), index=idx)
ts

2018-01-07    0
2018-01-14    1
2018-01-21    2
2018-01-28    3
2018-02-04    4
Freq: W-SUN, dtype: int64